.Card {
  width: 60vmin;
  height: 80vmin;
}

.CardContainer {
  position: relative;
  width: 100%;
  height: 100%;
  /*user-select: none;*/
  box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.32);

  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transform: scale(0.95);
}

.CardFront,
.CardPage,
.CardBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CardFront {
  /*border: 1px solid red;*/
  /*display: none;*/
}
.CardPage {
  /*border: 1px solid green;*/
  display: none;
}
.CardBack {
  /*border: 1px solid blue;*/
  display: none;
}

/*
  TODO: Placeholder image for working with card,
  wouldn't normally directly style an element:
*/
.Card svg {
  width: 60%;
  height: auto;
  flex: 0 1 auto;
}

.CardDebug {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid rgba(0,0,0,.12);
  width: 120px;
  font-size: 80%;
  font-family: monospace;
  padding: .5rem .25rem;
  background-color: rgba(0,0,0,.06);
  -webkit-font-smoothing: antialiased;
}
.CardDebug::before {
  content: "<Card />";
  position: relative;
  display: block;
  line-height: 1;
  padding: 0 .25rem;
  margin-bottom: .25rem;
}
.CardDebug li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding: .25rem;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.CardDebug li:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}
.CardDebug li strong {
  flex: 1;
  margin-right: .25rem;
  width: 100%;
}
